:root {
        --ic-brand-primary-darkened-5: #950013;
--ic-brand-primary-darkened-10: #8D0012;
--ic-brand-primary-darkened-15: #850011;
--ic-brand-primary-lightened-5: #A00C1F;
--ic-brand-primary-lightened-10: #A5192B;
--ic-brand-primary-lightened-15: #AA2637;
--ic-brand-button--primary-bgd-darkened-5: #950013;
--ic-brand-button--primary-bgd-darkened-15: #850011;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #8D0012;
--ic-link-color-lightened-10: #A5192B;
--ic-brand-primary: #9c0014;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #9c0014;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #9c0014;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #3a2e73;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #9c0014;
--ic-brand-header-image: url('https://instructure-uploads-apse2.s3-ap-southeast-2.amazonaws.com/account_80700000000000001/attachments/69/logo_sml.png?AWSAccessKeyId=AKIAIZAVS3WMRR54DT4Q&Expires=1928333072&Signature=Uyh1B2feUNLBfMqpARoYiMTnEXo%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-apse2.s3-ap-southeast-2.amazonaws.com/account_80700000000000001/attachments/4999/SAAC%20Horizontal%20Logo%20with%20tagline%20SMALL.png?AWSAccessKeyId=AKIAIZAVS3WMRR54DT4Q&Expires=1936816549&Signature=qX%2FbtUXr8IqNCWpcYD93vTKnD5o%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-body-bgd-color: #9c0014;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads-apse2.s3-ap-southeast-2.amazonaws.com/account_80700000000000001/attachments/72/logo%20copy.png?AWSAccessKeyId=AKIAIZAVS3WMRR54DT4Q&Expires=1928333073&Signature=FOgMhVyp4MPnviaXrxczkABVMKA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }